@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.banner{
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.mainAnimation{
  width: 80%;
  /* height: 400px; */
  display: flex;
  justify-content: space-between;
}
.mainAnimation .part1{
  width: 50%;
  /* height: 400px; */
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainAnimation .part2{
  width: 50%;
  /* height: 400px; */
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.part2 h2{
  letter-spacing: 5px;
  text-transform: uppercase;
}

.mainImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImage .parentImage{
  width: 300px;
  position: relative;
}

.mainImage .childImage{
  position: absolute;
  top: 73px;
  left: 84px;
  z-index: 1;
}
.circle{
  position: relative;
}

.circle1{
  position: absolute;
  top: -190px;
  left: 90px;
  width: 90px;

  

  animation: trans 5s infinite linear;
}


@keyframes trans {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }

}
.circle2{
  position: absolute;
  top: -275px;
  right: 82px;
  width: 90px;
  animation: trans 5s infinite linear;
}


@keyframes trans {
  0%{
    transform: translateY(-10px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }

}













@media (max-width:912px){
  .banner{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mainAnimation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainAnimation .part1{
    width: 100%;
    padding: 20px;
  }

  .mainAnimation .part2{
    width: 100%;
    padding: 20px;
  }
  .part2 h2{
    
    text-align: center;
  }
  .part2 p{
    letter-spacing: 0px;
    text-align: justify;
  }


}